.listproduct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.listproduct .item .forimg {
    height: 250px;
    width: 220px;
    overflow: hidden;
}

.listproduct .item .forimg img {
    padding-top: 33px;
    height: 90%;
    width: 100%;
    object-fit: cover;

}

.listproduct .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #ECF0F1;
    height: 380px;
    width: 300px;
    margin: 10px;
    position: relative;
}

selection {
    display: flex;
    justify-content: space-evenly;
}


.option_color {
    color: #ECF0F1;
    margin-right: 20px;
}

.form-select {
    height: 30px;
    width: 450px;
}

.filter_bar {
    margin-top: 10px;
}

.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.option_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#ddl {
    text-align: center;
}

price {
    color: green;
}

name {
    font-size: 24px;
    font-weight: bold;
}

.overlay-image {
    align-items: center;

}

.overlay-image img {
    width: auto;
    height: 30px;
}

.submit {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 50%;
    max-width: 100px;
    background: #fff;
    background: rgb(83,108,112);
    border-radius: 8px;
    color: #fff;
    align-items: center;
    text-align: center;
}

.input {
    height: 25px;
    width: 300px;
    margin-right: 10px; 
    text-align: center;
}