.search_header {
    text-align: center;
    color: aliceblue;
}

.select {
    width: 800px;
    height: auto;
    text-align: center;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}


.haunted {
    font-family: ghas;
    font-size: 22px ;
    color: red;
    text-shadow: 1px 1px black;
    font-family: "Creepster", system-ui
}
input {
    text-align: justify;
}

.labeloption  {
    width: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#brb
{
    padding-bottom: 20px;
}

#rooms {
    margin-top: 10px;
}

.city_select_box{
    text-align: center;
    /* padding-bottom: 30px; */
    padding-right: 80px;
    
}

.product_type{
    color: aqua;
}

label {
    font-size: 22px;
    color: aliceblue;
    margin: 5px
}

.contain{   
    display: inline-flex;
    justify-content: center;  
    align-items: center; 
}

.topic{
    width: 130px;
}

.selector {
    font-size: 18px;
    text-align: center;
    display: flex;
}
.submit {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 50%;
    max-width: 100px;
    background: #fff;
    background: rgb(167,201,173);
    border-radius: 8px;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.textbox {
    font-size: 14px;
    text-align: center;
    display: flex;
}

.addlink {
    font-size: 14px;
    text-align: center;
    display: flex;
}